.carousel-item {
  width: 90% !important;
  position: relative;
  height: 100%;
  border: 1px solid #fefefe;
  border-top-left-radius: 6vw;
  border-top-right-radius: 6vw;
}
.carousel-item:hover {
  cursor: pointer;
}

.carousel-item-icon {
  margin-top: 15px;
  height: 20%;
  width: auto;
}

.carousel-item-paragraph {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60%;
  display: block;
  justify-content: center;
  background: linear-gradient(to bottom right, #5ee0f1 0%, #e3a0d5 100%);
  opacity: 0.7;
  text-align: justify;
  padding: 10px;
}

.carousel-item-title {
  height: 15%;
}
.deneme {
  opacity: 1 !important;
}
