.carousel-self {
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  width: 50%;
  height: 50%;
  margin: 3%;
  padding: 5%;
  border: 1px solid rebeccapurple;
}
